# Consider using the allow list template instead of the deny list:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Go coverage tool output
*.out

# Dependency directories
# Uncomment the line below to include the vendor directory
# vendor/

# Go workspace files
go.work
go.work.sum

# Environment files
.env

# IDE and editor directories
.idea/

# Temporary and miscellaneous files
vendor/
tmp/
docs/
docs/docs.go
tests/integration/.sequence
volume
.sequence/
*.db
